/* #page-icon {

} */

.content-block {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin-bottom: 25px;
}

.card {
    display: flex;
    justify-content: center;
    max-width: 460px;
}

.card :hover {
    box-shadow: 24px 24px;
}

@font-face {
    font-family: "Flexo-Demi";
    src: url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.eot");
    src: url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/073a3b73a63a87e100f6bb8f003fc0d3.svg#Flexo-Demi")format("svg");
}

.content-table{
    font-family: "flexo-demi" , Arial, Helvetica, sans-serif  ;
}

.information {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    min-width: 300px
}

.name {
    background-color: grey;
    color: white;
    font-weight: 400px;
    font-size: 35px;
    padding: 10px 0px 10px 7px;
}

.card-info {
    background-color: whitesmoke;
}

.tier{
    display: inline-flex;
    justify-content: flex-start;
    color: black;
    font-weight: 400px;
    font-size: 1.5rem;
    margin-top: 8px;
    padding: 9px 0px 0px 10px;
    font-family: "flexo-demi" , Arial, Helvetica, sans-serif  ;   
}

.notch {
    display: inline-flex;
    justify-content: flex-end;
    float:right;
    font-size: 2rem;
}

.ps{
 padding-top: 15px;
 margin-right: 2px;
 font-size: 1.7rem;   
}

.ps_num {
padding: 11px 0px 0px 0px;
margin-right: 3px;
}

.type-grass {
    width: 2rem;
    height: 2rem;
}

#info {
    margin-right: 1px;
    padding: 5px 0px 0px 0px;
}

.type-colorless {
    width: 1.8rem;
    height: 1.8rem;
}

.type-fire {
    width: 2rem;
    height: 2rem;
}

.ability {
    margin-bottom: 20px;
    margin-left: 15px;
    padding-right: 150px;
    max-width: 400px;
    min-width: 300px
}

.ability-1 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500px;
}

.skillname-1 {
    margin-left: 10px;
}

.skilldesc1 {
    display: flex;
    text-justify: auto;
    margin-top: 10px;
    color: rgb(45, 46, 46);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: smooth;
    font-size: 15px;
}

.text-icon {
    width: 1rem;
    height: 1rem;
}

.ability-2{
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.skilldesc2 {
    text-align: right;
    margin-top: 10px;
    color: rgb(45, 46, 46);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: smooth;
    font-size: 20px;
}

.skillname-2 {
    margin: 0px 30px 0px 30px;
    padding-top: 15px
}

.stats-section {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: whitesmoke;
    max-width: 400px;
    min-width: 300px;
    font-size: 15px;
    font-weight: 600px;
}

.weakness {
    display: flex;
    flex-direction: column;
}

.w-stats {
    margin-bottom: 10px;
}

.weakness-num{
    margin-left: 5px;
    color: rgb(45, 46, 46);
    font-size: 28px;
}

#weakness {
    margin-top: 10px;
}

.resistance {
    display: flex;
    flex-direction: column;
}

.retreat {
    display: flex;
    flex-direction: column;
}

#retreat {
    padding-top: 10px;
    padding-left: 45px;
}

.stats-footer {
    padding: 5% 3px 5px 15px;
    background-color: whitesmoke;
    max-width: 382px;
    min-width: 290px;
    font-size: 15px;
    font-weight: 600px;
}

.footnote {
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: smooth;
    font-size: 15px;
}

.fn-text {
    padding-top: 10px;
    text-align: justify;
    max-width: 200px;
    min-width: 150px;
    margin-right: 90px;
}